
.background-div {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: round;
  text-align: center;
  background-image: url("/assets/day_background.png");

  .main-text {
    color: white;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;

  }
}
  .time {
    display: inline-block;
    width: 50%;
    .clock {
      font-size: 21vh;
      margin: 0 auto;
      position: absolute;
      top: 20%;
      left: 26%;
      transform: translateY(-50%);
      transform: translateX(-50%);

    }

    .date {
      font-size: 9vh;
      margin: 0 auto;
      position: absolute;
      top: 41vh;
      left: 34vh;
      transform: translateY(-50%);
      transform: translateX(-50%);
    
    }

    .week {
      font-size: 9vh;
      margin: 0 auto;
      position: absolute;
      top: 51%;
      left: 13%;
      transform: translateY(-50%);
      transform: translateX(-50%);
    }
  }
  .weather{
    padding-top: 3vh;
    display: inline-block;
    width: 68vh;
    padding-left: 91vh;
    .weather-icon{
      width: 25vh;
      float: left;
    }
    .weather-temp{
      font-size: 10vh;
      margin-top: 25vh;
      text-align: left;
    }
    .weather-desc{
      font-size: 7vh;
      margin-top: 4vh;
      width: 21vh;
      line-height: 7vh;
    }
  }


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
}

app-home {
  height: 100%;
  width: 100%;
}
